/* TODO: Make it awesome */
body{
    background-color: silver;
    background-image: -moz-linear-gradient();
}

h1{
    font-size: 40px;
    font-family: monospace;
    color: black;
}

li{
    font-size: 25px;
    font-family: monospace;
    color: blue;
    
}

ol{
    font-size: 20px;
    font-family: monospace;
    color: blue;
}

span{
    font-size: 20px;
    font-family: monospace;
    color: blue;
}
