/* TODO: Make it awesome */
body{
    background-color: silver;
    background-image: -moz-linear-gradient();
}

h1{
    font-size: 40px;
    font-family: monospace;
    color: black;
    text-align: center;
}

li{
    font-size: 25px;
    font-family: monospace;
    color: blue;
    text-align: center;
    
}

ol{
    font-size: 20px;
    font-family: monospace;
    color: blue;
    text-align: center;
}

span{
    font-size: 20px;
    font-family: monospace;
    color: blue;
    text-align: right;
}

form{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
}

input{
    list-style: initial;
}

footer{
    position: sticky;
    font-size: 15px;
    font-family: monospace;
    text-align: right;
}